html,body{
    height: 100%;
    background: rgb(89,226,252);
    background: linear-gradient(95deg, rgba(89,226,252,1) 2%, rgba(192,203,231,1) 34%, rgba(160,186,210,1) 68%);  
}

.container{
    
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 100%;
    padding:10px;
}